#root {

  height: 100%;
  position: absolute;
  width: 100%;
}

.App {

  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;

}

.App > *:nth-child(1) {

  flex: 0 0 auto;

}
.App > *:nth-child(2) {

  flex: 1 1 auto!important;
  
}
.App > *:nth-child(2) {
  flex: 0 0 auto;
}

* {
  font-family: 'Karantina', cursive;
font-family: 'Source Sans Pro', sans-serif; 
  font-size: large; 
}
#link2 {
  color: white;
} 

#link3 {
  color: white;
} 

#link4 {
  color: white;
} 

#myname {
  margin-left: 550px; 
  color: white; 
} 